Homework 2 Pikulev Lev

Задание 1

Дан список с визитами по городам и странам. Напишите код, 
который возвращает отфильтрованный список geo_logs, 
содержащий только визиты из России. 
Считайте, что список geo_logs легко помещается в оперативной памяти.

geo_logs = [

['visit1': ['Москва', 'Россия']],

['visit2': ['Дели', 'Индия']],

['visit3': ['Владимир', 'Россия']],

['visit4': ['Лиссабон', 'Португалия']],

['visit5': ['Париж', 'Франция']],

['visit6': ['Лиссабон', 'Португалия']],

['visit7': ['Тула', 'Россия']],

['visit8': ['Тула', 'Россия']],

['visit9': ['Курск', 'Россия']],

['visit10': ['Архангельск', 'Россия']],

]

In [4]:
geo_logs = [

['visit1', ['Москва', 'Россия']],

['visit2', ['Дели', 'Индия']],

['visit3', ['Владимир', 'Россия']],

['visit4', ['Лиссабон', 'Португалия']],

['visit5', ['Париж', 'Франция']],

['visit6', ['Лиссабон', 'Португалия']],

['visit7', ['Тула', 'Россия']],

['visit8', ['Тула', 'Россия']],

['visit9', ['Курск', 'Россия']],

['visit10', ['Архангельск', 'Россия']],

]

In [9]:
[line for line in geo_logs if 'Россия' in line[1][1]]

[['visit1', ['Москва', 'Россия']],
 ['visit3', ['Владимир', 'Россия']],
 ['visit7', ['Тула', 'Россия']],
 ['visit8', ['Тула', 'Россия']],
 ['visit9', ['Курск', 'Россия']],
 ['visit10', ['Архангельск', 'Россия']]]

Задание 2

Выведите на экран все уникальные гео-ID из значений словаря ids. 
Т. е. список вида [213, 15, 54, 119, 98, 35]

ids = {'user1': [213, 213, 213, 15, 213], 
       'user2': [54, 54, 119, 119, 119], 
       'user3': [213, 98, 98, 35]
      }

In [23]:
ids = {'user1': [213, 213, 213, 15, 213], 
       'user2': [54, 54, 119, 119, 119], 
       'user3': [213, 98, 98, 35]
      }

In [24]:
# найдем список всех айди, включая дубли
all_geo_id = []
for key in ids.values():
    all_geo_id += key

In [25]:
all_geo_id

[213, 213, 213, 15, 213, 54, 54, 119, 119, 119, 213, 98, 98, 35]

In [28]:
#оставим только уникальные, при этом получим множество, которое ниже преобразуем в список
unique_geo_id = set(all_geo_id)

In [31]:
#преобразуем множество в список
list(set(all_geo_id))

[98, 35, 15, 213, 54, 119]

Задание 3

Список поисковых запросов. 
Получить распределение количества слов в них. 
Т. е. поисковых запросов из одного слова 5%, из двух - 7%, из трех - 3% итд.

queries = [

'смотреть сериалы онлайн',

'новости спорта',

'афиша кино',

'курс доллара',

'сериалы этим летом',

'курс по питону',

'сериалы про спорт',

]

In [46]:
queries = [

'смотреть сериалы онлайн',

'новости спорта',

'афиша кино',

'курс доллара',

'сериалы этим летом',

'курс по питону',

'сериалы про спорт',

]

In [59]:
#пока посмотрим на каждый запрос в виде списка
for i in range(len(queries)):
        print(queries[i].split(' '))

['смотреть', 'сериалы', 'онлайн']
['новости', 'спорта']
['афиша', 'кино']
['курс', 'доллара']
['сериалы', 'этим', 'летом']
['курс', 'по', 'питону']
['сериалы', 'про', 'спорт']

In [62]:
#создадим пустой список, который наполним получившимися списками
all_queries = []
for i in range(len(queries)):
     all_queries.append(list(queries[i].split(' ')))

In [63]:
#получим список списков
all_queries

[['смотреть', 'сериалы', 'онлайн'],
 ['новости', 'спорта'],
 ['афиша', 'кино'],
 ['курс', 'доллара'],
 ['сериалы', 'этим', 'летом'],
 ['курс', 'по', 'питону'],
 ['сериалы', 'про', 'спорт']]

In [76]:
#узнаем максимальную и минимальную длину списков
len(max(all_queries))

3

In [77]:
len(min(all_queries))

2

In [72]:
#сделаем счетчик для 
three_words, two_words = [0]*2
for aq in all_queries:
    if len(aq) >= 3:
        three_words += 1
    else:
        two_words += 1

In [88]:
query_in_2 = 'Запрос из двух слов составляет {:0.0%} всех запросов'.format(two_words / (three_words + two_words))
query_in_2

'Запрос из двух слов составляет 43% всех запросов'

In [89]:
query_in_3 = 'Запрос из трех слов составляет {:0.0%} всех запросов'.format(three_words / (three_words + two_words))
query_in_3

'Запрос из трех слов составляет 57% всех запросов'

Задание 4 *

Дана статистика рекламных каналов по объемам продаж. 
Напишите скрипт, который возвращает название канала с максимальным объемом.

Т. е. в данном примере скрипт должен возвращать 'yandex'.

stats = {'facebook': 55, 'yandex': 120, 'vk': 115, 'google': 99, 'email': 42, 'ok': 98}

In [90]:
stats = {'facebook': 55, 'yandex': 120, 'vk': 115, 'google': 99, 'email': 42, 'ok': 98}

In [101]:
#отсортируем словарь по значению в порядке убывания
sorted(stats.items(), key = lambda x: x[1], reverse = True)

[('yandex', 120),
 ('vk', 115),
 ('google', 99),
 ('ok', 98),
 ('facebook', 55),
 ('email', 42)]

In [ ]:
#теперь можно выбрать первое значение, которое и будет максимальным.
#На случай, если максимумов больше 1, нужно будет писать цикл. Здесь этого делать не будем.

In [104]:
sorted(stats.items(), key = lambda x: x[1], reverse = True)[0][0]

'yandex'

Задание 5 *

Дан поток логов по количеству просмотренных страниц для каждого пользователя. 
Список отсортирован по ID пользователя. 
Вам необходимо написать алгоритм, который считает 
среднее значение просмотров на пользователя. 
Т. е. надо посчитать отношение суммы всех просмотров 
к количеству уникальных пользователей. 
Учтите, что весь список stream не помещается в оперативную память, 
т. е. его нужно обрабатывать поэлементно в цикле.

stream = [

'2018-01-01,user1,3',

'2018-01-07,user1,4',

'2018-03-29,user1,1',

'2018-04-04,user1,13',

'2018-01-05,user2,7',

'2018-06-14,user3,4',

'2018-07-02,user3,10',

'2018-03-21,user4,19',

'2018-03-22,user4,4',

'2018-04-22,user4,8',

'2018-05-03,user4,9',

'2018-05-11,user4,11',

]

In [114]:
stream = [

'2018-01-01,user1,3',

'2018-01-07,user1,4',

'2018-03-29,user1,1',

'2018-04-04,user1,13',

'2018-01-05,user2,7',

'2018-06-14,user3,4',

'2018-07-02,user3,10',

'2018-03-21,user4,19',

'2018-03-22,user4,4',

'2018-04-22,user4,8',

'2018-05-03,user4,9',

'2018-05-11,user4,11',

]

In [117]:
#найдем общее кол-во просмотров. Запрос обращается к списку поэлементно.
sum_views = 0

for tag in stream:
    sum_views +=int(tag.split(',')[2])
sum_views

93

In [122]:
#создадим список уникальных пользователей и сразу посчитаем их количество. 
#Запрос обращается к списку поэлементно.
users = []
for tag in stream:
    if not tag.split(',')[1] in users:
        users.append(tag.split(',')[1])
len(users)

4

In [126]:
#находим среднее значение просмотров на 1 пользователя
avg_views = 'Среднее значение просмотров на 1 пользователя: {:0.2f} просмотров'.format(sum_views / len(users))
avg_views

'Среднее значение просмотров на 1 пользователя: 23.25 просмотров'

Задание 6 *

Дана статистика рекламных кампаний по дням. 
Напишите алгоритм, который по паре дата-кампания ищет значение численного столбца. 
Т. е. для даты '2018-01-01' и 'google' нужно получить число 25. 
Считайте, что все комбинации дата-кампания уникальны, 
а список stats легко помещается в оперативной памяти.

stats = [

['2018-01-01', 'google', 25],

['2018-01-01', 'yandex', 65],

['2018-01-01', 'market', 89],

['2018-01-02', 'google', 574],

['2018-01-02', 'yandex', 249],

['2018-01-02', 'market', 994],

['2018-01-03', 'google', 1843],

['2018-01-03', 'yandex', 1327],

['2018-01-03', 'market', 1764],

]

In [162]:
stats = [

['2018-01-01', 'google', 25],

['2018-01-01', 'yandex', 65],

['2018-01-01', 'market', 89],

['2018-01-02', 'google', 574],

['2018-01-02', 'yandex', 249],

['2018-01-02', 'market', 994],

['2018-01-03', 'google', 1843],

['2018-01-03', 'yandex', 1327],

['2018-01-03', 'market', 1764],

]

In [163]:
#какова длина списка?
len(stats)

9

In [204]:
#попросим пользователя ввести дату
a = input('Введите дату без кавычек в формате ГГГГ-ММ-ДД: ')

Введите дату в одинарных кавычках в формате ГГГГ-ММ-ДД: 2018-01-02

In [ ]:
#попросим пользователя ввести кампанию

In [205]:
b = input('Введите кампанию без кавычек: ')

Введите кампанию в одинарных кавычках: yandex

In [ ]:
#для каждого элемента списка проведем проверку

In [206]:
for i in range(len(stats)):
    if a in stats[i][0] and b in stats[i][1]:
        print('Статистика рекламной кампании: ' + str(stats[i][2]) + ' просмотров.')
    else:
        print('Совпадения не найдены')

Статистика рекламной кампании: 249 просмотров.